.Login{
    grid-template-areas: "imagem formulario";
}

.formulario h1{
    font-family: monospace;
    font-size: 2rem;
}

.formulario p{
    color: white;
    margin-bottom: 50px;
}

.formulario a{
    text-decoration: none;
    color: var(--secudaryColor);
}

.formulario{
    text-align: center;
    grid-area: formulario;
    max-width: 70%;
    background: var(--mainColor);
    color: white;
    padding: 100px 0;
    border-radius: 5px;
}
.formulario form{
    max-width: 70%;
}

.formulario input{
    background: white;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 15px;
}
.imagem{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    grid-area: imagem;
    animation: slideY 0.5s;
}


@keyframes slideY{
    from {
        transform: translateY(90px)
    }

    to {
        transform: translateY(0px)
    }
}



@media (max-width: 1200px){
    .Login{
       grid-template-columns: 1fr !important;
       grid-template-areas: "formulario";
    }
    .formulario{
        justify-self: center;
        min-width: 90% !important;
    }
    .imagem{
        display: none;
    }
 }
 .botao{
    width: 100% !important;
 }