
.lista h2{
    padding: 30px;
    margin-bottom: 20px;
    font-size: 3vw;
    
}
@media (min-width: 320px) and (max-width: 700px){
    .lista h2{
        font-size: 1.5rem;
    }
    .buttons button{
        padding: 8px;
        height: 30px!important;
    }
    .buttons a:hover{
        transform: scale(1.1);
        transition: all 0.5s;
        background-color: rgba(255, 255, 255, 0.5);
    
    }
   
    .buttons button,
    .buttons a{
        color: white;
        text-decoration: none;
        background: var(--secudaryColor);
        padding: 4px;
        border-radius: 10px;
        font-weight: bold;
        font-size: 0.70rem !important;
        margin-left: 8px;
    }

.buttons button{
    padding: 6px;
}
}

.lista h2 span{
    color: var(--mainColor);
    font-weight: bold;
}

.lista ul{
    width: 80%;
    list-style: none;
    margin: 0 auto;
}

.lista li{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
    background: var(--mainColor);
    color: white;
    padding: 20px;
    font-size: 1.40rem;
    border-radius: 20px;
    fle-direction:column
}

.lista li p{
    font-weight: bold;
}

.lista li p::first-letter{
    text-transform: capitalize;
}


.buttons button,
.buttons a{
    color: white;
    text-decoration: none;
    background: var(--secudaryColor);
    padding: 4px;
    border-radius: 10px;
    font-weight: bold;
    font-size: 1.2rem;
    margin-left: 8px;
}

.buttons button{
    padding: 8px;
    height: 39px;
}
.buttons a:hover{
    transform: scale(1.1)!important;
    transition: all 0.5s;
    background-color: rgba(255, 255, 255, 0.5);

}
button:hover{
    transform: scale(1.1)!important;
    transition: all 0.5s;
    background-color: rgba(255, 255, 255, 0.5);

}