
.user{
    padding: 30px;
}

.form{
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-width: 90%;
    gap: 30px;
    margin-bottom: 50px;
}

.form label{
    width: 80%;
    font-size: 1.7rem;
}

.form input{
    border: 1px solid #000000;
    padding: 12px 10px;
    font-size: 1.2rem;
}

.user button{
    border-radius: 50px;
    width: 200px;
    font-weight: normal;
    padding: 0px;
    box-shadow: 0px 0px 0px 5px var(--secudaryColor); /* outer 'border' */
    outline: 3px solid white; /* fill */
    margin-left: 40px;
    margin-bottom: 340px;
}
.fixarFooter{
    bottom: 0;
     position: fixed;
     width: 90%;
     text-align: center;
     display:flex;
}

@media (max-width: 900px){
    .form{
        display: flex;
        flex-direction: column;
        max-width: 80%;
    }
    .form label{
        width: 100%;
        font-size: 1.7rem;
    }
}