.formu{
   display: flexbox;
   flex-direction: column;
   font-family: Verdana,Tahoma,sans-serif;
   font-size: 1.5rem;
   max-width: 100%;
   min-height: 300px;
   grid-area: formu;
   border-left: 1px solid gray;
}
.formu form{
   display: flex;
   flex-direction: column;
   max-width: 70%;
   padding: 20px;
   justify-items: center;
   gap: 5px;
   margin-top: 20px;
}
.formu form input,
.formu form textarea{
   font-size: 1.2rem;
   padding: 15px;
}

.formu form textarea{
   resize: vertical;
}

.contato{
   grid-template-areas: "design titulo" "design formu";
}

.titulo{
   grid-area: titulo;
}

.titulo {
   font-size: 1.5rem;
   text-align: center;
   border-width: 0 0 1px 1px;
   border-style: none none solid solid;
   border-color: gray;
   padding: 40px 0;
   color: var(--mainColor);
   font-weight: normal;
   position: relative;
}

.titulo p,
.titulo h2{
   font-family: monospace;
}

.titulo h2{
   font-size: 2.5rem;
}



.design{
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   grid-area: design;
   animation: slideX 0.5s;

}

@keyframes slideX{
    from {
        transform: translateY(90px)
    }

    to {
        transform: translateY(0px)
    }
}

@media (max-width: 1200px){
   .contato{
      grid-template-columns: 1fr !important;
      grid-template-areas: "titulo" "formu";
      justify-content: center;
   }
   .titulo{
      border-style: none none solid none;
   }
   .formu{
      border: none;
   }
   .design{
      display: none;
   }
}