
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  .home {
    width: 100%;
    min-height: 100vh;
    background-color: #e1e1e1;
    color: #1e1e1e;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10px;

  }
  .calculadora{
    width: 100%;
    background-color: #FAFAFA;
    display: flex;
    justify-content: center;
    align-items: center;
    border: #1e1e1e;
    border-radius: 1px;





  }
  .boxcalculadora{
    max-width: 80%;
    min-height: 500px;
    background-color: #fff;
    border: #1e1e1e;
    display: flex;
    padding: 3px;
    margin-top: 1rem;
    margin-bottom: 1rem;
    text-align: center;
    box-shadow: 2px 2px 2px  #8258FA, -0.2em 0 0.3em #8258FA;
    border-radius: 30px;
    display: grid;
    animation: slideY 1.0s;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
    
      "data result";
  }
  .boxcalculadora:hover{
    box-shadow: 3px 3px 3px  var(--mainColor), -0.2em 0 1.3em var(--mainColor);

  }

  @keyframes slideY{
    from {
        transform: translateY(190px)
    }

    to {
        transform: translateY(0px)
    }
}
  @media (max-width: 1200px) {
    .boxcalculadora{
      grid-template-columns: 1fr;
      grid-template-areas: 
      "data"
      "result";
    }
    .data{
      grid-area:data;
      border-bottom: 1px solid rgba(0,0,0,.2);
      border-right: none !important;
    }
  }

  .result{
    grid-area: result;
    padding: 30px;
    display: grid;
    gap: 10px 0;
    grid-template-columns: 1fr 2fr;
    grid-template-areas: 
      'recebe recebe'
      'taxa desconto'
      'melhor melhor'
      'vazio comprar';
  }

  .recebe{
    grid-area: recebe;
    background: var(--secudaryColor);
    align-self: center;
    justify-self: center;
    padding: 10px;
    border-radius: 20px;
    display: grid;
    min-width: 100%;
  }
  .recebe p{
    justify-self: start;
    color: #fff;
    font-size: 1.2rem;
    font-weight: bold;
    margin-left: 10px;
  }
  .recebe span{
    font-size: 2.5rem;
    font-weight: bold;
    color: var(--textColor);
    position: relative;
  }
  .recebe span::after{
    content: '';
    width: 100%;
    height: 1px;
    background: #000;
    position: absolute;
    left: 0px;
    bottom: .1rem;
    
  }

  .taxa{
    grid-area: taxa;
  }
  .titulo{
    font-size: 1.2rem;
    font-weight: bold;
    color: #545454;
    margin-bottom: 10px;
  }
  .desconto span,
  .taxa span{
    background: #ffdb00;
    padding: 1px 5px;
    border-radius: 5px;
    font-size: 2rem;
    font-weight: bold;
  }

  .desconto{
    grid-area: desconto;
  }
  .desconto span{
    color: #ef4136;
    background: #fdebe9;
    boder-radius: 5px;
  }

  .melhor{
    grid-area: melhor;
    display: grid;
    justify-items: start;
    font-size: 1.1rem;
    justify-self: center;
    min-width: 75%;
    font-weight: bold;
  }
  .melhor svg{
    margin-right: 5px;
    vertical-align: middle;
    color: darkgreen;
    font-size: 1.7rem;
  }


  .btn{
    grid-area: comprar;
    background: #3498db;
    padding: 1px;
    border-radius: 50px;
    width: 220px;
    height: 50px;
    cursor: pointer;
    position: relative;
    margin-top: 80px;
    border-color: #3498db;
    color: #fff;
    box-shadow: 0 0 40px 40px #3498db inset, 0 0 0 0 #3498db;
    -webkit-transition: all 150ms ease-in-out;
    transition: all 150ms ease-in-out;
    
  }

.btn:link,
.btn:visited {
    text-transform: uppercase;
    text-decoration: none;
    padding: 15px 40px;
    display: inline-block;
    border-radius: 100px;
    transition: all .2s;
    position: absolute;
}

.btn:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.btn:active {
    transform: translateY(-1px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.btn-white {
    background-color: #fff;
    color: #777;
}

.btn::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 100px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all .4s;
}

.btn-white::after {
    background-color: #fff;
}

.btn:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0;
}

.btn-animated {
    animation: moveInBottom 5s ease-out;
    animation-fill-mode: backwards;
}

@keyframes moveInBottom {
    0% {
        opacity: 0;
        transform: translateY(40px);
    }

    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}




 
    
.data{
    grid-area: data;
    border-right: 1px solid rgba(0,0,0,.2);
}
  

  .data form{  
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-width: 100%;
    height: 100%;
    padding: 20px;
    justify-content: center;
    font-size: 1.1rem;
  }
  .data *:not(label){
    margin-bottom: 10px;
  }
  .data input{
    border: 1px solid rgba(0, 0, 0, .2);
    border-radius: 10px;
    padding: 10px;
    font-size: 1rem;
    width: 200px;
  }
  .opcoes{
    display: flex;
    flex-direction: row;
    gap: 20px;
  }
  select{
    padding: 5px 10px;
    font-size: 1rem;
    border-radius: 7px;
  }
  button{
    padding: 8px 8px;
    background: var(--secudaryColor);
    color: var(--textColor);
    font-weight: bold;
    border: none;
    border-radius: 10px;
    font-size: 1.2rem;
    cursor: pointer;
    margin: 5px;
    
  }
  .btnActive{
    background-color: var(--mainColor);
  
    
    
  }
  


  .banner{
    width: 90%;
    height: -70%;
    align-items: center;
    display:flexbox;
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-left: auto;
    margin-right: auto;
    
  }
  .boxbanner{
    width: 100%;
    justify-content: center;
   
  }
  .titulocalculadora h2{
    margin-top: 60px;
  }

  .slider{
  .rsis-container {

    width: 80%;
    height: 500px;
    display: flex;
  }
}

  .carousel{
    width: 80%;
    
  }
  .selector{
    backgroundColor: #EBECF0;
    border-radius: 2em;
    color: #172B4D;
    display: inline-block;
    fontSize: 12px;
    fontWeight: normal;
    lineHeight: 1px;
    minWidth: 1px;
    padding: 0.16666666666667em 0.5em;
    textAlign: center;
    display: 'flex';
  alignItems: 'center';
  justifyContent: 'space-between';
  width: 280px;
  height: 40px;
}



input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
    border: none;
}
input[type=number]{
  -moz-appearance: textfield;
}

.container{
  display: flex;
  padding: 5px;
  width: 100%;
  alignItems: center;
  color: #000 !important;
  margin-top: 15px;
  position: relative;
  
}
.containerImg{
 height: 120px;
  width: 120px;
  padding-top: 10px;
  
  
}
.imgmaquininha{
  width: 140px;
  height: 140px;
  border-radius: 20px;
  position: relative;
  margin-top: 20px;
  animation:moveInImg 1.0s;
  transition: transform 1s;
  transform: translateX(0) scale(0.9);

}
.imgmaquininha:hover{
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
  transform: translateX(1px) scale(1.0);
}
.posicaobnt{
  width: 100%;
  position: relative;
  align-items: center;
  right: -20px;
}
@keyframes moveInImg {
  from {
    transform: translateX(100px)
}

to {
    transform: translateX(0px)
}
}







 
  