

  .container{

    width: 100%;
    display: flex;
    align-justify:center;
    position: relative;

  }
  .caixaError{
    
    margin-top: 10% !important;
    height: 50%;
    margin: 0 auto;
    text-align: center;
    width: 60%;
    
  }
  .container .caixaError span{
    color: #fff;
  }
  .container .caixaError h2{
    text-weight: bold !important;
    font-size: 3vw !important;
    color: #000;
  }
  .btn .link{
    text-decoration: none!important;

  }
  .btn{

    width: auto;
    background-color: var(--secudaryColor);
    align-items: center;
    color: #fff;
  }
  .btn:hover{
        transform: scale(1.1);
        transition: all 0.5s;
        background-color: rgba(56, 11, 96, 0.9);
  }
  .img{
    width: 100%;
  }