.Sobre{
    grid-template-areas: "image info";
    min-height: 70vh;
    /* text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center; */
}

.info{
    padding: 20px;
    max-width: 100%;
    border-left: 1px solid gray;
}

.info h2{
    font-size: 2rem;
    padding-bottom: 20px;
    font-family: monospace;
}
.info p{
    color: rgb(52, 53, 53);
    margin-bottom: 2em;
    font-size: 1.2rem;
}
.info a{
    display: block;
    margin-top: 15px;
    padding: 10px 15px;
    font-size: 1.2rem;
    align-self: end;
}
.imagem{
    grid-area:auto;
    animation: slideX 2s;
}

@keyframes slideX{
    from {
        transform: translateY(90px)
    }

    to {
        transform: translateY(0px)
    }
}

@media (max-width: 1024px){
    .Sobre{
       grid-template-columns: 1fr !important;
       grid-template-areas: "info";
    }
    .info{
        border: none;
    }
    .imagem{
        display: none;
    }
 }