.container{
    position: absolute;
    display: grid;
    grid-template-columns: 2fr 4fr 4fr;
    grid-template-areas: 
    "navbar content content";
    height: 100%;
    width: 100%;
}
.container span {
    font-size : 1rem ;
}

.navbar{
    grid-area: navbar;
}

.content{
    grid-area: content;
}

.content h2{
    font-size: 3rem;
    font-weight: normal;
    margin-bottom: 3rem;
}

@media (max-width: 900px){
    .content h2{
        font-size: 1.9rem !important;
    }
}